
<!DOCTYPE html>
<html lang="en">

  <%include ../includes/head%>

  <body>
      <%include ../includes/sidebar%>

      <main class="page-content">
        <div class="container-fluid">
          <%include ../includes/title-content%>
          <hr>
          
        </div>
        <%include ../includes/end%>
      