<div class="modal fade" id="my-product-dialog-detail" tabindex="-1">
    <div style="overflow: initial !important;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 id="title-form-detail">Thêm mới sản phẩm</h2>
        </div>
        <form id="form-detail" method="POST" enctype="multipart/form-data" >
          <div class="modal-body" style="height: 500px; overflow-y: auto;">
            <div class="form-row">
              <div class="col-md-7 col-mb-1">
                <label for="titleProduct">Tên sản phẩm</label>
                <input type="text" class="form-control" id="titleProductDetail" value="" placeholder="Tên sản phẩm" readonly/>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-12">
                <label for="imageDetail">Ảnh sản phẩm</label>
                <div >
                  <img alt="image-product" id="imgUrlDetail" style="height: 150px; width: auto;"/>
                </div>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-12">
                <label for="barcode">Barcode</label>
                <input type="text" class="form-control" id="barcodeDetail" value="" placeholder="Barcode" readonly/>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-12">
                <label for="price">Giá</label>
                <input type="number" class="form-control" id="priceDetail" value="" placeholder="Giá" readonly/>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-12">
                <label for="numbers">Số lượng</label>
                <input type="number" class="form-control" id="numbersDetail" value="" placeholder="" readonly/>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-12">
                <label for="description">Mô tả</label>
                  <textarea class="form-control" id="descriptionDetail" readonly></textarea>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-12">
                <label for="positionDetail">Vị trí</label>
                  <textarea class="form-control" id="positionDetail" style="height: 300px;" readonly></textarea>
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-md-12">
                <label for="createDetail">Ngày nhập kho</label>
                  <textarea class="form-control" id="createDetail" readonly></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class='btn btn-default btn-dark' id="closemodal" type ='button' data-dismiss="modal">Hủy bỏ</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
  $(document).ready(() => {
    
    
  })
  </script>