<!-- title sidebar -->
<div class="sidebar-brand">
    <a href="/admin">pro Administrator</a>
    <div id="close-sidebar">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <!-- Avatar sidebar -->
  <div class="sidebar-header">
    <div class="user-pic">
        <img class="img-responsive img-rounded" src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/47305057_1026074477579915_6597205053830856704_n.jpg?_nc_cat=103&_nc_oc=AQlSnwP9XssyxOxfHl2UZYIqur_g8t2_PbjIn19fyo82T3i5BGcu4KVdwp-xxJS2hfY&_nc_ht=scontent.fsgn2-2.fna&oh=23702ab77a61c47977c3a1f1f543a1d7&oe=5DF02340"
        alt="User picture">
    </div>
    <div class="user-info">
        <span class="user-name">Nguyễn Vũ <strong>Bằng</strong></span>
        <span class="user-role">Administrator</span>
        <span class="user-status"><i class="fa fa-circle"></i><span>Online</span></span>
    </div>
  </div>